<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javalin Rocker Demo</title>
</head>
<body>
<a href="hello">Dynamic version</a>
<a href="hello2">Compile-time version</a>
</body>
</html>